.project_section_container{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    width: 100%;
}
.projects_container{
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    margin:  2rem 0 0 4rem;
    gap: 2rem;
}
.para{
    font-family: 'Croissant One', cursive;
    margin-top: 2rem;
    font-size:  1.5rem;
    letter-spacing: .1rem;
}
.projectLogo{
    width: 25vw;
    border-radius: 60px;
    transition:  all .3s ease-in-out;
}
.project_description>p{
    text-align: justify;
    width: 80%;
    font-size: 1.3rem;
}
.project_description>.details{
    font-size: 1rem;
    margin-top: 2rem;
}
#panel-header{
    margin-top: 2rem;
}
#panel-header  button{
    width: 14rem;
    font-size: 1.5rem;
    padding: .5rem;
    background-color: #FF4C68;
    color: #fff;
    border: none;
    cursor: pointer;
    border-radius: 10px;
    letter-spacing: .1rem;
    transition: all .3s ease;
    font-family: 'Croissant One', cursive;
    margin-top: 1.3rem;
    margin-left: 1.3rem;
}

.project_description>a>button{
    width: 14rem;
    font-size: 1.5rem;
    padding: .5rem;
    background-color: #FF4C68;
    color: #fff;
    border: none;
    cursor: pointer;
    border-radius: 10px;
    letter-spacing: .1rem;
    transition: all .3s ease;
    font-family: 'Croissant One', cursive;
    margin-top: 1.3rem;
}
.project_description>a>button:hover{
    scale:  1.1;
}
.projectLogo:hover{
    cursor: pointer;
    scale:  1.1;
}

/* Media  Queries */
@media only screen and (max-width:768px) {
    #panel-header  button
        {
    width: 11.8rem;
    margin-left: .2rem;
}
}

@media only screen and (max-width:426px) {
    #panel-header  button
        {
    width: 8rem;
    margin-left: .9rem;
    font-size: 1rem;
}
.projects_container{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}
.project_section_container>p{
    font-size: 1rem;
    text-align: center;
    align-items: center;
}
.projectLogo{
    align-items: center;
    width: 50vw;
    border-radius: 10px;
    transition:  all .3s ease-in-out;
}
.project_description>.details{
    font-size: 1rem;
    margin-top: 2rem;
    width: 100%;
}
}
@media only screen and (max-width:376px) {
    #panel-header  button
        {
    width: 7rem;
    margin-left: .5rem;
    font-size: .8rem;
}
.project_description>.details{
    font-size: .7rem;
    margin-top: 2rem;
    width: 100%;
}
}