.skills-section{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 2rem;
    margin-bottom: 2rem;
}
.skill-container{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 5rem;
}
.skill-container>img{
    cursor: pointer;
}
/* MEDIA QUERIES */
@media only screen and (max-width: 1024PX) {
    .skill-container{
        gap: 2rem;
    }
}
@media only screen and (max-width: 768PX) {
    .skill-container{
        gap: 1rem;
    }
    .skill-container>img{
        width: 15%;
    }
}